/* You can add global styles to this file, and also import other style files */
.is-horizontal-center {
	display:flex;
  justify-content: center;
}
.is-vertical-center {
  display: flex;
  align-items: center;
}