<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div>
                    <div class="box">
                        <figure class="avatar">
                            <img src="https://placehold.it/128x128">
                        </figure>
                        <p class="subtitle is-4">Hi {{(user | async)?.uid}}</p>
                        <hr>
                        <p>Welcome to the home page</p>
                    </div>
                    <br>
                    <button class="button is-danger" (click)="logOut()">logOut</button>
                </div>
            </div>
        </div>
    </div>
</section>